
<html>
<head> 

    <link rel="stylesheet" href="/style.css" type="text/css">
    
    <title>Chathub</title>
  

</head>

<body>
    <h1>Welcome to Chathub</h1>
    <h3>Your way to your next best freind</h3>

    <form action= "/joinorcreate" method = "post">
        <label for = "name"></label>
        <input type="text" id="name" name= "name" placeholder="Enter nickname here" required>
        <input type="submit" class="presseable" value = "Next">
    </form>
    
    <br>
    <!--
    <div class="popup" onclick="popupFunction()" > Click me!
        <span class="popuptext" id="myPopup">Do you wana <span onclick="joinRoom()" > join </span>  a room or <span onclick="newRoom()"> create your own </span> ?</span>
        
    </div> -->
    
</body>

</html> 
